body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

header a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header a:hover {
    color: lightblue;
}

.home_title-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home_title-background {
    background: url('img/scotus.jpg') center/cover no-repeat;
    background-position: center top 22%;
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    filter:blur(10px);
    z-index: -2;
    clip-path: inset(0 0 0 0);
}

.home_title-content {
    position: relative;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index:-1;
}

.home_title-content h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.subpage_title-section {
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.subpage_title-content {
    position: relative;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
    padding: 20px;
    z-index:-1;
}

.subpage_title-background {
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    filter:blur(6px);
    z-index: -2;
    clip-path: inset(0 0 0 0);
}

.utilitarianism_title-background {
    background: url('img/grpPplTalking.jpg') center/cover no-repeat;
    background-position: center top 58%;
}

.paternalism_title-background {
    background: url('img/justice.jpg') center/cover no-repeat;
    background-position: center top 10%;
}

.moralrights_title-background {
    background: url('img/billOfRights.jpg') center/cover no-repeat;
    background-position: center top -30%;
}

footer {
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}