body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

/* Nav Bar Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

header a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header a:hover {
    color: lightblue;
}

/* Title Section Setup */
.title-section {
    position: relative;
    overflow: hidden;
}
.home_title-section {
    height: 100vh;
}

.subpage_title-section {
    height: 50vh;
}

/* Title Background Setup */
.title-background {
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    z-index: -2;
}

.home_title-background {
    background: url('./img/scotus.jpg') center/cover no-repeat;
    background-position: center top 22%;
    filter: blur(10px);
}

.utilitarianism_title-background {
    background: url('./img/grpPplTalking.jpg') center/cover no-repeat;
    background-position: center top 58%;
    filter: blur(8px);
}

.paternalism_title-background {
    background: url('./img/justice.jpg') center/cover no-repeat;
    background-position: center top 10%;
    filter: blur(8px);
}

.moralrights_title-background {
    background: url('./img/billOfRights.jpg') center/cover no-repeat;
    background-position: center top -10%;
    filter: blur(8px);
}

/* Title Content Setup */
.title-content {
    position: relative;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index:-1;
}

.home_title-content h3 {
    font-size: 1.5rem;
}

.subpage_title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Home Page Navigation */
.home-columns {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
    text-align: center;
    gap: 40px;
}

.home-column {
    width: 30%;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.home-column strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.home-column p {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 80%;
}

.primary-btn {
    background-color: #4C5D6B;
    font-size: 1rem;
}

.primary-btn:hover {
    background-color: #3F5160;
}

.secondary-btn {
    background-color: #6c757d;
    font-size: .8rem;
    width: 40%;
}

.secondary-btn:hover {
    background-color: #545b62;
}

/* Deinition Box */
.definition-box {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 40px auto;
    width: fit-content;
    max-width: 85%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.definition-box p {
    margin: 0;
    font-size: 1.2rem;
}

.definition-box strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
}


/* Footer */
footer {
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}